@import url("../normalize.css");
@import url("./theme.css");
@import url("./Game.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--clr-dark);
  color: var(--clr-light);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

p,
h1,
h2,
h3 {
  margin: 0;
}
