:root {
  --font-family: "Poppins", sans-serif;
  --font-size: 16px;
  --clr-dark: rgb(13, 17, 19);
  --clr-light: #fff;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 62, 163);
  --br: 0.5rem;
  --transition: transform 200ms cubic-bezier(0.21, 1.06, 0.81, 1.01);
}
