.rectangle {
  left: -180px;
  top: -318px;
}

.rectangle-right {
  right: -180px;
  bottom: -318px;
  opacity: 0.03;
}

.rectangle,
.rectangle-right {
  width: 510px;
  height: 930px;
  border-radius: 255px;
  position: fixed;
  background: var(--background-linear-gradient);
  z-index: var(--background-z-index);
}
