.Copy__container {
  margin-left: 125px;
  max-width: 445px;
}

.Copy__header {
  font-size: 40px;
  line-height: 47px;
  color: var(--very-dark-desaturated-violet);
}

.Copy__body {
  font-size: 16px;
  line-height: 28px;
  color: var(--dark-grayish-violet);
}
