:root {
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturate-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);

  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);

  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --very-light-magenta: hsl(289, 100%, 72%);

  --font-size: 16px;
  --font-family: "Rubik", sans-serif;

  --mobile: 375px;
  --desktop: 1440px;

  --background-z-index: -1;

  --background-linear-gradient: linear-gradient(
    225deg,
    var(--light-magenta) 0%,
    var(--light-violet) 100%
  );
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--light-grayish-violet);
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.app h1 {
  font-size: 40px;
  line-height: 47px;
  color: var(--very-dark-desaturated-violet);
}

.app p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--dark-grayish-violet);
}

.description {
  margin-left: 125px;
  max-width: 445px;
}

.phone {
  box-shadow: 0px 30px 60px -10px rgba(62, 39, 83, 0.251202);
  background-color: var(--white);
  border-radius: 30px;
  width: 247px;
  height: 505px;
  padding: 12px;
  font-size: 11px;
}

.phone .content {
  background-color: #f5f3f7;
  height: 100%;
  border-radius: 20px;
  border: 1px solid rgba(62, 39, 83, 0.0509178);
}

.phone header {
  padding: 0 8px 0 8px;
  height: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  background: var(--background-linear-gradient);
  border-radius: 20px 20px 6px 6px;
}

.phone header img {
  margin-right: 4px;
  border-radius: 50%;
  width: 24px;
  border: 1px solid var(--white);
}

.Phone__header-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Phone__header-text {
  display: flex;
  flex-direction: column;
}

.Phone__header-header {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.Phone__header-availability {
  font-size: 8px;
  line-height: 9px;
  color: var(--pale-violet);
}

/* background styles */
.rectangle {
  position: absolute;
  width: 510px;
  height: 930px;
  left: -180px;
  top: -318px;
  background: var(--background-linear-gradient);
  border-radius: 255px;
}

.rectangle-right {
  position: absolute;
  width: 510px;
  height: 930px;
  right: -180px;
  bottom: -318px;
  background: var(--background-linear-gradient);
  mix-blend-mode: normal;
  opacity: 0.03;
  border-radius: 255px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.rectangle,
.rectangle-right {
  z-index: var(--background-z-index);
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 6px;
  left: 6px;
}
footer a {
  color: hsl(228, 45%, 44%);
}
